@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;400;800&display=swap');
@import url(./inicio.css);
@import url(./header.css);
@import url(./footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    font-family: 'Encode Sans', sans-serif;
}

:root {
    --bg: #FAFAFA;
    --rosa: #EE3D8F;
    --celeste: #37BBED;
    --verde-lima: #D7DF23;
    --verde: #50B8B1;
    --morado: #9283BE;
    --naranja: #F7941E;
    --amarillo: #FFD100;
    --font: #0E0E0E;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

.btn {
    padding: 20px 40px;
    border: 4px solid;
    font-weight: 800;
    transition: all 200ms;
    cursor: pointer;
}


.btn:hover {
    transform: translateY(-5px);
    font-weight: 800;
    box-shadow: 0px 5px var(--font);
}

.btn:active {
    transform: translateY(0px);
    box-shadow: 0px 0px;
}

.imagen-rotada {
    transform: scaleX(-1);
}

.title {
    text-align: center;
    padding: 16px;
    color: var(--morado);
    font-size: 40px;
    text-shadow: -1px -1px 1px var(--font),
        1px 1px 1px var(--font),
        -1px 1px 1px var(--font),
        1px -1px 1px var(--font);
}

.galery {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 16px;
}

.galery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galery article{
    border: 4px solid var(--font);
    background-color: var(--bg);
}

.galery article:nth-child(1),
.galery article:nth-child(4) {
    grid-column-start: span 2;
}

/* WEB LAB */
.galery.weblab {
    grid-template-rows: 400px;
}

.galery.weblab article{
    transition: background-image 0.2s ease-in-out;
    height: 400px;
}
.galery.weblab article:nth-child(1),
.galery.weblab article:nth-child(4),
.galery.weblab article:nth-child(5),
.galery.weblab article:nth-child(8),
.galery.weblab article:nth-child(9){
    grid-column-start: span 2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.galery.weblab article:nth-child(1){
    background-image: url(../images/weblab/1.png);
}

.galery.weblab article:nth-child(1):hover{
    background-image: url(../images/weblab/1rm.png), url(../images/weblab/bg.gif);
}

.galery.weblab article:nth-child(4){
    background-image: url(../images/weblab/2.jpg);
}

.galery.weblab article:nth-child(4):hover{
    background-image: url(../images/weblab/3.jpg);
}

.galery article:nth-child(5) {

    background-image: url(../images/weblab/4.jpg);
}

.galery.weblab article:nth-child(5):hover{
    background-image: url(../images/weblab/5.jpg);
}

.galery article:nth-child(8) {

    background-image: url(../images/weblab/7.jpg);
}

.galery.weblab article:nth-child(8):hover{
    background-image: url(../images/weblab/8.jpg);
}

.galery.weblab article:nth-child(2) img,
.galery.weblab article:nth-child(3) img,
.galery.weblab article:nth-child(6) img,
.galery.weblab article:nth-child(10) img{
    object-fit: contain;
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-image: url(../logosConectar/fondoConectarLab.png);
    background-size: cover;
}

.galery.weblab article:nth-child(7) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-image: url(../logosConectar/fondoConectarLab.png);
    background-size: cover;
}

.galery.weblab article:nth-child(7) img{
    object-fit: contain;
    width: 60%;
}



/* VISUALES */
.galery.videojuego{
    grid-template-rows: none;
}

.galery.videojuego article{
    background-image: url(../images/visualesVideojuegos/bg.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galery.videojuego article img{
    width: 80%;
    height: 80%;
}



/* STREAMERS */
.galery.streamers article:nth-child(7){
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-image: url(../logosConectar/fondoConectarLab.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


    & img{
        width: 70%;
        height: unset;
    }
}

@media (max-width: 1150px) {
    .galery {
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .galery article:nth-child(1),
    .galery article:nth-child(4) {
        grid-column-start: span 1;
    }

    .galery.weblab article:nth-child(1),
    .galery.weblab article:nth-child(4),
    .galery.weblab article:nth-child(5),
    .galery.weblab article:nth-child(8),
    .galery.weblab article:nth-child(9){
        grid-column-start: span 1;
    }

/*     .galery.weblab article:nth-child(2),
    .galery.weblab article:nth-child(6){
        display: none;;
    } */


    .galery.weblab {
        grid-template-rows: 200px;
        grid-template-columns: repeat(1, 1fr);
    }
    .galery.weblab article{
       height: 200px;
    }

    .galery.weblab article:nth-child(4){
        background-image: url(../images/weblab/3.jpg);
    }
    .galery.weblab article:nth-child(5){
        background-image: url(../images/weblab/5.jpg);
    }

    .galery.weblab article:nth-child(8){
        background-image: url(../images/weblab/8.jpg);
    }
}

.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 32px;
}

.video div{
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.video iframe{
    border: 4px solid var(--font);
    width: 560px;
    height: 315px;
}

@media (max-width: 600px) {
    .video iframe{
        width: 90%;
        height: 250px;
    }
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid var(--font);
    background-image: url(../logosConectar/fondoConectarLabHorizontal2.png);
    background-size: cover;
    background-attachment: fixed;
    font-size: 60px;
    margin: 32px 0 0;
    padding: 64px 32px;
    text-align: center;
}

.banner img{
    width: 200px;
}

@media (max-width: 1100px) {
    .banner{
        font-size: 40px;
    }
    .banner img{
        width: 150px;
    }
}

@media (max-width: 600px) {
    .banner{
        font-size: 24px;
    }
    .banner img{
        width: 50px;
    }
}