
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    width: 200px;
}

header nav{
    width: 100%;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

header li{
    width: 16%;
    text-align: center;
    transition: all 300ms;
    flex-grow: 1;
    font-weight: 800;
}

header li:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px;
}

header li a{
    display: block;
    padding: 20px;
}

header ul li:nth-child(1) a{
    background-color: var(--morado);
}

header ul li:nth-child(2) a{
    background-color: var(--celeste);
}

header ul li:nth-child(3) a{
    background-color: var(--rosa);
}

header ul li:nth-child(4) a{
    background-color: var(--verde-lima);
}

header ul li:nth-child(5) a{
    background-color: var(--verde);
}

header ul li:nth-child(6) a{
    background-color: var(--amarillo);
}

@media (max-width: 1150px) {
    header li{
        width: 33.33%;
        flex-grow: 0;
    }
}

@media (max-width: 600px) {
    header li{
        width: 100%;
        flex-grow: 0;
    }
}
