:root{
    --bg: #FAFAFA;
    --rosa: #EE3D8F;
    --celeste: #37BBED;
    --verde-lima: #D7DF23;
    --verde: #50B8B1;
    --morado: #9283BE;
    --naranja: #F7941E;
    --amarillo: #FFD100;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    width: 200px;
}

header nav{
    width: 100%;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header li{
    width: 33.33%;
    text-align: center;
    transition: all 300ms;
}

header li:hover{
    transform: translateY(-5px);
    font-weight: 800;
    box-shadow: 0px 5px;
}

header li a{
    display: block;
    padding: 20px;
}

header ul li:nth-child(1) a{
    background-color: var(--morado);
}


header ul li:nth-child(2) a{
    background-color: var(--celeste);
}

header ul li:nth-child(3) a{
    background-color: var(--rosa);
}

header ul li:nth-child(4) a{
    background-color: var(--verde-lima);
}

header ul li:nth-child(5) a{
    background-color: var(--verde);
}

header ul li:nth-child(6) a{
    background-color: var(--amarillo);
}


main{
    background-image: url(../logosConectar/fondoConectarLabHorizontal.png);
    background-size: cover;
}

.title{
    text-align: center;
    padding: 16px;
    color: var(--morado);
    font-size: 40px;
    text-shadow: -1px -1px 1px var(--font), 
                1px 1px 1px var(--font), 
                -1px 1px 1px var(--font), 
                1px -1px 1px var(--font);
}


.puertas{
    display: flex;
    justify-content: space-between;
    border: 4px solid var(--font);
    width: 700px;
    margin: 16px auto;
    padding: 16px;
}

.puertas:hover{
    animation: cardColors 2s infinite;
}

.puertas:nth-child(2){
    color: var(--bg);
    background-color: var(--rosa);
}


.puertas:nth-child(3){
    color: var(--font);
    background-color: var(--celeste);
}

.puertas:nth-child(4){
    color: var(--font);
    background-color: var(--amarillo);
}

.puertas:nth-child(5){
    color: var(--font);
    background-color: var(--verde);
}

.puertas div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;   
}

.puertas div.info-end{
    align-items: end;
}

.puertas img{
    height: 250px;
}

@keyframes cardColors {
    0%,100%{
        background-color: var(--verde);
    }
    15%{
        background-color: var(--amarillo);
    }   
    30%{
        background-color: var(--celeste);
    }
    45%{
        background-color: var(--morado);
    }
    60%{
        background-color: var(--naranja);
    }
    75%{
        background-color: var(--rosa);
    }
    90%{
        background-color: var(--verde-lima);
    }
}

              
.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
  }