:root {
    --bg: #FAFAFA;
    --rosa: #EE3D8F;
    --celeste: #37BBED;
    --verde-lima: #D7DF23;
    --verde: #50B8B1;
    --morado: #9283BE;
    --naranja: #F7941E;
    --amarillo: #FFD100;
}

main {
    background-image: url(../logosConectar/fondoConectarLabHorizontal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




.puertas {
    display: flex;
    justify-content: space-between;
    border: 4px solid var(--font);
    width: 700px;
    margin: 16px auto;
    padding: 16px;
}

.puertas:hover {
    animation: cardColors 5s infinite;
}

.puertas:nth-child(2) {
    color: var(--bg);
    background-color: var(--verde);
}


.puertas:nth-child(3) {
    color: var(--font);
    background-color: var(--celeste);
}

.puertas:nth-child(4) {
    color: var(--font);
    background-color: var(--amarillo);
}

.puertas:nth-child(5) {
    color: var(--font);
    background-color: var(--verde);
}

.puertas div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 16px;
}

.puertas div.info-end {
    align-items: end;
}

.puertas img {
    width: 250px;
}

@keyframes cardColors {

    0%,
    100% {
        background-color: var(--verde);
    }

    15% {
        background-color: var(--amarillo);
    }

    30% {
        background-color: var(--celeste);
    }

    45% {
        background-color: var(--morado);
    }

    60% {
        background-color: var(--naranja);
    }

    75% {
        background-color: var(--rosa);
    }

    90% {
        background-color: var(--verde-lima);
    }
}


@media (max-width: 800px) {
    main {

        background-image: url(../logosConectar/fondoConectarLab.png);
    }
    .puertas{
        flex-direction: column;
        width: 300px;
    }
    .puertas div{
        justify-content: center;
        align-items: center;
    }
    .puertas img {
        width: 100%;
    }
    .puertas div.info-end{
        align-items: center;
        align-self: center;
    }
    .puertas:nth-child(odd){
        flex-direction: column-reverse;
    }
}