:root {
    --bg: #FAFAFA;
    --rosa: #EE3D8F;
    --celeste: #37BBED;
    --verde-lima: #D7DF23;
    --verde: #50B8B1;
    --morado: #9283BE;
    --naranja: #F7941E;
    --amarillo: #FFD100;
}

main {
    background-image: url(../logosConectar/fondoConectarLabHorizontal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




.puertas {
    display: flex;
    justify-content: space-between;
    border: 4px solid var(--font);
    width: 700px;
    margin: 16px auto;
    padding: 16px;
}

.puertas:hover {
    animation: cardColors 5s infinite;
}

.puertas:nth-child(2) {
    color: var(--bg);
    background-color: var(--celeste);
}


.puertas:nth-child(3) {
    color: var(--bg);
    background-color: var(--rosa);
}

.puertas:nth-child(4) {
    color: var(--font);
    background-color: var(--verde-lima);
}

.puertas:nth-child(5) {
    color: var(--font);
    background-color: var(--verde);
}

.puertas:nth-child(6) {
    color: var(--bg);
    background-color: var(--naranja);
}

.puertas > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 16px;
}

.puertas div.info-end {
    align-items: end;
}

.puertas img {
    width: 250px;
}

.puertas.weblab {
    background-color: none;
    animation: cardColors 5s infinite;
    color: white;
}

.puertas.weblab h2,
.puertas.videojuego h2 {
    font-size: 40px;
}

.puertas.weblab button,
.puertas.videojuego button {
    font-size: 20px;
}

.puertas.videojuego {
    background-color: var(--verde);
    color: white;
}

.puertas.audiovisual {
    background-color: var(--celeste);
    color: white;
}

.puertas.audiovisual .btns{
    display: flex;
    gap: 16px;
}

@keyframes cardColors {

    0%,
    100% {
        background-color: var(--verde);
    }

    15% {
        background-color: var(--amarillo);
    }

    30% {
        background-color: var(--celeste);
    }

    45% {
        background-color: var(--morado);
    }

    60% {
        background-color: var(--naranja);
    }

    75% {
        background-color: var(--rosa);
    }

    90% {
        background-color: var(--verde-lima);
    }
}


@media (max-width: 800px) {
    main {
        background-image: url(../logosConectar/fondoConectarLab.png);
    }

    .puertas {
        flex-direction: column;
        width: 300px;
    }

    .puertas div {
        justify-content: center;
        align-items: center;
    }

    .puertas img {
        width: 100%;
    }

    .puertas div.info-end {
        align-items: center;
        align-self: center;
    }

    .puertas:nth-child(odd) {
        flex-direction: column-reverse;
    }
    .puertas.audiovisual .btns{
        flex-direction: column;
        width: 100%;
        align-items: stretch;
    }
    .puertas.audiovisual .btns button{
        width: 100%;
    }
}


section.contacto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: auto;
    width: 80%;
    border: dotted 24px var(--font);
    padding: 10px 30px;
    margin: 100px auto;
}

.contacto img {
    width: 40%;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.contacto-info div {
    display: flex;
    gap: 20px;
}

.contacto-info i {
    font-size: 100px;
}

.celeste {
    color: var(--celeste);
}

.rosado {
    color: var(--rosa);
}

@media (max-width: 700px) {
    section.contacto {
        flex-direction: column;
        border-width: 16px;
    }

    .contacto img {
        width: 80%;
    }

    .contacto-info i {
        font-size: 60px;
    }

    section.contacto {
        padding: 10px;
    }
}

.carruselVertical .swiper{
    width: 450px;
    height: 900px;
    
}

.swiper {
    width: 900px;
    height: 450px;
    margin-bottom: 80px;
    border: solid var(--font) 4px;
    --swiper-theme-color: var(--rosa);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 900px) {
    .swiper{
        width: 80%;
        height: 250px;
    }
    .carruselVertical .swiper{
        width: 80%;
        height: 400px;
    }
}